mixin createTestCase(testCase)
  TestCase
    Name #{testCase.Name}
    description #{testCase.description}
    exceptionMessage #{testCase.exceptionMessage}
    status #{testCase.status}
    timeTaken #{testCase.timeTaken}
    
doctype xml
DSTAutomationReport(xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="buildreport.xsd")
 buildNumber #{Build}
 branchName #{BranchName}
 productVersion #{Version}
 executionMode
 operatingSystem
 databaseType #{DatabaseType}
 databaseVersion
 buildURL
 moduleName #{ModuleName}
 buildDate #{BuildDate}
 Installation_Status
 testSuite
  for testCase in testCases
   +createTestCase(testCase)
 name #{pluginName}
 totalTestCaseCount #{totalTestCaseCount}
 passedTestCaseCount #{passedTestCaseCount}
 failedTestCaseCount #{failedTestCaseCount}